In [1]:
#importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.linear_model import LinearRegression

%matplotlib inline

In [2]:
#Loading the train and test dataset
train = pd.read_csv("train.csv")
test  = pd.read_csv("test.csv")
train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
#Checking for null values
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
#replacing the null values in the age column with the mean of the ages
train['Age'] = train['Age'].replace(np.nan, train['Age'].mean().round(decimals=1))
train['Age'].isnull().sum()

0

In [5]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [6]:
#replacing the null values in age with the mean of the ages in the test set
test['Age'] = test['Age'].replace(np.nan, test['Age'].mean().round(decimals=1))
test['Age'].isnull().sum(), train['Age'].isnull().sum()

(0, 0)

In [7]:
#Combine test and train dataset
train['source'] = "train"
test['source'] = "test"
data = pd.concat([train, test], ignore_index=True)
print(data.shape)

(1309, 13)

In [8]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,source
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,train
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,train
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,train
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,train
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,train

In [9]:
#transforming catergorical data to numerical data using the labelencoder function
#Importing and initializing the labelencoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [10]:
data['Sex'].unique(), data['Embarked'].unique()

(array(['male', 'female'], dtype=object),
 array(['S', 'C', 'Q', nan], dtype=object))

In [11]:
data['Embarked'].value_counts(), data['Embarked'].mode()

(S    914
 C    270
 Q    123
 Name: Embarked, dtype: int64, 0    S
 dtype: object)

In [12]:
data['Embarked'] = data['Embarked'].replace(np.nan, 'S', regex=True)

In [13]:
#transforming the sex column
data['Sex'] = le.fit_transform(data['Sex'])
data['Embarked'] = le.fit_transform(data['Embarked'])

In [14]:
data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,source
0,1,0.0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2,train
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0,train
2,3,1.0,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2,train

In [15]:
data.dtypes

PassengerId      int64
Survived       float64
Pclass           int64
Name            object
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked         int64
source          object
dtype: object

In [16]:
data['Parch'].value_counts(), data['Pclass'].value_counts(), data['SibSp'].value_counts(), data['Embarked'].value_counts()

(0    1002
 1     170
 2     113
 3       8
 5       6
 4       6
 6       2
 9       2
 Name: Parch, dtype: int64, 3    709
 1    323
 2    277
 Name: Pclass, dtype: int64, 0    891
 1    319
 2     42
 4     22
 3     20
 8      9
 5      6
 Name: SibSp, dtype: int64, 2    916
 0    270
 1    123
 Name: Embarked, dtype: int64)

In [17]:
#Performing one-hot encoding
data = pd.get_dummies(data, columns=["Parch", "SibSp"])

In [18]:
data.dtypes

PassengerId      int64
Survived       float64
Pclass           int64
Name            object
Sex              int64
Age            float64
Ticket          object
Fare           float64
Cabin           object
Embarked         int64
source          object
Parch_0          uint8
Parch_1          uint8
Parch_2          uint8
Parch_3          uint8
Parch_4          uint8
Parch_5          uint8
Parch_6          uint8
Parch_9          uint8
SibSp_0          uint8
SibSp_1          uint8
SibSp_2          uint8
SibSp_3          uint8
SibSp_4          uint8
SibSp_5          uint8
SibSp_8          uint8
dtype: object

In [19]:
import warnings
warnings.filterwarnings("ignore")

#divide the data set
train = data.loc[data['source'] == 'train']
test = data.loc[data['source'] == 'test']
#drop unnecessary columns
test.drop(["Name", "source"], axis=1, inplace=True)
train.drop(["source"], axis=1, inplace=True)
#Export modified version of the file
train.to_csv("train_mod.csv", index=False)
test.to_csv("test_mod.csv", index=False)

In [20]:
#reading the modified files
train_2 = pd.read_csv("train_mod.csv")
test_2 = pd.read_csv("test_mod.csv")

In [21]:
#creating the independent variable X and dependent Y variable for the train set and dropping the irrelevant variables
x_train = train_2.drop(['Name', 'Ticket', 'Fare', 'Cabin', 'Survived'], axis=1)
y_train = train_2.Survived

In [23]:
#dropping the irrelevant variables for x_test
x_test = test_2.drop(['Ticket', 'Fare', 'Cabin', 'Survived'], axis=1)

In [24]:
#test split
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(x_train, y_train, test_size=0.3, random_state=42)

In [25]:
#initializing the LinearRegression function
#fitting the x_train and y_train
lrg = LinearRegression()

lrg.fit(xtrain, ytrain)

LinearRegression()

In [26]:
#finding the coefficient and intercept of the line
print(lrg.coef_)
print(lrg.intercept_)

[ 3.00053641e-05 -1.46350956e-01 -4.95596516e-01 -4.07030302e-03
 -4.81491519e-02  1.29095732e-01  2.39451695e-01  1.56947213e-01
  4.44971763e-01 -3.17190283e-01 -2.46291724e-01 -4.06984396e-01
 -8.32667268e-17  1.60414705e-01  1.64405089e-01  1.12578411e-01
 -1.49804532e-01  3.23764626e-03 -1.26287409e-01 -1.64543910e-01]
0.9325798672369241

In [27]:
#predict the test result of the test data
preds = lrg.predict(xtest)
preds

array([ 0.30220307,  0.22451654,  0.13497107,  0.9406581 ,  0.73124379,
        0.88234473,  0.6230319 ,  0.08820326,  0.67603456,  0.9340675 ,
        0.34137444,  0.03296302,  0.38057046,  0.17268314,  0.20131451,
        1.05029674,  0.33554552,  0.63362379,  0.25421015,  0.29587088,
        0.10230692,  0.35889663,  0.61918479,  0.13023022,  0.08642751,
       -0.10732377,  0.41826088,  0.23153779, -0.10558601,  0.57247187,
        0.14015157,  0.60145323,  0.48307909,  0.5729324 ,  0.12402826,
        0.20016645,  0.37059617,  0.61997135,  0.97892478,  0.09245858,
        0.20781156,  0.09143678,  0.09539911,  0.14213801,  0.72112171,
        0.44849465,  0.11584722,  0.10805753,  0.09978647,  0.39172028,
        0.838678  ,  0.90676604, -0.4031332 ,  0.49500737, -0.01684642,
        0.95161021,  0.20937426,  0.99158177,  0.69699062,  0.65890277,
        0.11793845,  0.90394451,  0.73592428,  0.36802743,  0.12431482,
        0.62427696,  0.2542076 ,  0.0857961 ,  0.34858497,  0.88583715,
        0.85100024,  0.99185075,  0.50101973,  1.05642836,  0.12255012,
        0.06678534,  0.63378816,  1.03024706,  0.68916049,  0.55535956,
        0.0872081 ,  0.71706166,  1.03687529,  0.14177795,  0.3574568 ,
        0.30597397,  0.9600315 ,  0.96293192,  0.35386743,  0.07778596,
        0.18734226,  0.53704373,  0.2543394 ,  0.13007585,  0.07256503,
        0.08563564,  0.31385419,  0.0181508 ,  0.69640094,  0.09090616,
        0.23972806,  0.06641518,  1.01115554,  0.0504536 ,  0.09145274,
        0.1066678 ,  0.80475791,  0.30643277,  0.07764506,  0.42363184,
        0.88264702,  0.11454263,  0.98434629,  0.35270637,  0.37879936,
        0.13605126,  0.29406184,  0.29605254,  0.86761151,  0.83334495,
        0.32229911,  0.95206083,  0.73528382,  0.36433712,  0.11296926,
        0.45583547,  0.80391047,  0.48665631,  0.68351293,  0.12051891,
        0.62480221,  0.28287962,  0.23106816,  0.68973179,  0.40269159,
        0.75090773,  0.964063  ,  0.08006507,  0.04557443,  0.61896433,
        0.12525975,  0.68364172,  0.23381693,  0.20873593,  0.22734376,
        0.82155837,  0.22180563,  0.06987375,  0.9598019 ,  0.03619317,
        0.18410606,  0.1089081 ,  0.13855086,  0.62129126,  0.07259503,
        0.0886179 ,  0.08957807,  0.61649073,  0.70612235,  0.73872846,
        0.20070039,  0.37819925,  0.20302609,  0.97012375,  0.1185838 ,
        0.42757939,  0.25584874,  0.87628588,  0.11725875,  0.05960396,
        0.59982235,  0.80021836,  0.35450669,  0.88634563,  0.13496979,
        0.18977707,  0.16145068,  0.76644539,  0.78513433,  0.30860752,
        0.26590054,  0.07238497,  0.1104589 ,  0.5574161 ,  0.59638216,
        0.31679377,  0.33060541,  0.07115478,  0.36463683,  0.68812201,
        0.17684125,  0.21037486,  0.14760172,  0.07556427,  0.74773229,
        0.85558343,  0.94258168,  0.22313757,  0.93770047,  0.52893313,
       -0.04733412,  0.58068291,  0.84853232,  0.44483264,  0.22892895,
        0.70602378,  0.09452766,  0.38088758,  0.18143558,  0.00212005,
        0.50943816,  0.08001549,  0.9096528 ,  0.13247628,  0.37829006,
       -0.01662122,  0.86311198,  0.48759418,  0.8681232 ,  0.0830369 ,
        0.07331516,  0.74140389,  0.24497579,  0.37192813,  0.11593979,
        0.77069563,  0.11596852,  0.52112335,  0.7489049 ,  0.58100127,
        0.21527583,  0.99257216,  0.12623517,  0.67319141,  0.07502547,
        0.61384544,  0.75198671,  0.63381731,  0.91621866,  0.17244881,
        0.12289848,  0.67912007,  0.18224572,  0.61748524,  0.17233999,
        0.08785604,  0.08420711,  0.12014969,  0.10798709,  0.28569118,
        0.56703047,  0.22124979,  0.13127607,  0.19972458,  0.25232663,
        0.10539875,  0.11926911,  0.79883008,  0.19894409,  0.7230624 ,
        0.91116818,  0.39697099,  0.68068983,  0.10590884,  0.38197993,
        0.23298728,  0.13698015,  0.38280836])

In [28]:
import math
print(math.sqrt(mean_squared_error(ytest, preds)))

0.3736364597342136

In [29]:
y_Survived_preds = lrg.predict(x_test)
y_Survived_preds

array([ 0.1256311 ,  0.52622006,  0.16010873,  0.10809923,  0.73842362,
        0.16107318,  0.63972401,  0.37298686,  0.73677681,  0.08486479,
        0.09487727,  0.32370543,  0.91693931,  0.11220972,  0.81931205,
        0.86290637,  0.27042699,  0.22923943,  0.60813621,  0.62720869,
        0.38763144,  0.29226075,  0.88353577,  0.63247734,  1.22771613,
        0.01913277,  1.12409357,  0.22343403,  0.34456704,  0.14390938,
        0.16563375,  0.21966496,  0.61198595,  0.62300578,  0.48980909,
        0.23995529,  0.59125393,  0.62913775,  0.11729003,  0.09574743,
        0.26702006,  0.38850935,  0.0522852 ,  0.73903601,  0.82835281,
        0.11750007,  0.42512423,  0.14413662,  0.85972621,  0.59629475,
        0.41841269,  0.35218875,  0.84252876,  0.61145987,  0.33884677,
        0.18018272,  0.07712709,  0.11786013,  0.10030791,  0.95774354,
        0.15051257,  0.23583899,  0.14650228,  0.67399674,  0.53592921,
        0.73847504,  0.69036797,  0.32131543,  0.48276859,  0.32176239,
        0.66606617,  0.13456142,  0.59762551,  0.49309437,  0.96226392,
        0.47687317,  0.09685763,  0.73681328,  0.24448968,  0.66633622,
        0.40653066,  0.24431983,  0.3136249 ,  0.09706766,  0.29159778,
        0.19741636,  0.65433535,  0.64284893,  0.64096336,  0.47313457,
        0.63064812,  0.09730771,  0.93091001,  0.09736772,  0.50797055,
        0.11900033,  0.7037337 ,  0.10277913,  0.63503838,  0.08655793,
        0.93447202,  0.2613811 ,  0.14578692,  0.11517007,  0.86214428,
        0.10708948,  0.18376076,  0.14593694,  0.0978178 ,  0.29222833,
        0.29697483,  0.64165348,  0.95933382,  0.68974307,  0.75718773,
        0.24838125,  0.19435614,  0.82729059,  0.46391734,  0.74937711,
        0.81461188,  0.1503474 ,  0.96769457,  0.10762957,  0.14644704,
        0.7584154 ,  0.13214141,  0.59429727,  0.19714632,  0.12409082,
        0.0915584 ,  0.39511226,  0.14784843,  0.19885662,  0.04690509,
        0.12427085,  0.2104234 ,  0.26254121,  0.62402769, -0.47282372,
        0.418151  ,  0.87611659,  0.68274631,  0.25458064,  0.34397736,
       -0.21414045,  0.39165991,  0.13277152,  0.39171992,  0.36096641,
        1.12374393,  0.19540633, -0.02378512,  0.59941531,  0.04028871,
        0.12487096,  0.89284788,  0.62459779,  0.34439743,  0.64029837,
        0.64312374,  0.40489079,  0.75888786,  0.09946809,  0.20229681,
        0.72697327,  0.41651396,  0.12966803,  0.98421485,  0.62902816,
        0.09967813,  0.20943844,  0.13344174,  0.19606645, -0.31108086,
        0.83190275,  0.78372976,  0.39641259,  1.03454095,  0.87522718,
        0.24755023,  0.57608372,  0.94239173,  0.14821735,  1.11247329,
        0.20699723,  0.89031547,  0.10648696,  0.29870761,  0.20711725,
        0.23555946,  0.39301016,  0.29120629,  0.16991006,  0.36536845,
        0.08943845,  0.61621833,  0.64614952,  0.27658245,  0.5961448 ,
        0.64432396,  0.25044676,  0.42565484,  0.94772988,  0.26862187,
        0.48972853,  0.62537357,  0.27278219,  0.97442525,  0.12242095,
        0.09395883,  0.10090835,  0.30142434,  0.62601822,  0.43592797,
        0.34610774,  0.64480405,  0.39945955,  1.0198765 ,  0.10114839,
        0.84463565,  0.13906222,  0.7769694 ,  0.13912223,  0.89349927,
        0.72107473,  0.13107164,  0.6451341 ,  0.05990135,  0.22459868,
        0.31417535,  0.9276607 ,  0.14338266,  0.14971762,  0.45917744,
        0.1435526 ,  0.35747987,  0.23991091,  0.90807704,  0.91829125,
        0.88583875,  0.71177401,  0.54535163,  0.10186852,  0.13374039,
        0.35506859,  0.77768953,  0.3150633 ,  0.7532478 ,  0.69793376,
        0.8954534 ,  0.14403269,  0.50856117,  0.12781148,  0.09324391,
        0.10222859,  0.15040774,  0.11165029,  0.7902605 ,  0.14020243,
        0.08113312,  0.14026244,  0.77752897,  0.83167137,  0.34636899,
        0.10252864,  0.39526056,  0.10258865,  0.59821517,  0.15678369,
        0.42777513,  0.15085782,  1.0088281 ,  0.65050473,  0.19909699,
        0.79069067,  0.25857135,  0.2137481 ,  0.25448114,  0.28308319,
        0.62828845,  0.33763253,  0.6467844 ,  0.89600736,  0.82823118,
        0.07992802,  0.10315875,  0.42552396,  0.19951707,  0.10324877,
        0.39598069,  0.64827554,  0.19963709,  0.41802117,  0.08019807,
        0.1209311 ,  0.99280633,  0.15195082,  0.39744182,  0.10884022,
        0.09665931,  0.34625809,  0.30865291,  0.12931175,  0.64744452,
        0.86920442,  0.42952373,  0.33409666,  0.41033065,  0.54360232,
        0.15394361,  0.23399071,  0.10393889,  0.62044354,  0.88805915,
        0.70190961,  0.38837242,  0.2964343 ,  0.11755092,  0.23644711,
        0.12168124,  0.22207985,  0.2680922 ,  0.38598105,  0.85718575,
        0.13404217,  0.88331265,  0.42948543,  0.26005171,  0.28865376,
        0.70223358,  0.45809757,  0.2008373 ,  0.8568046 ,  0.11803101,
        0.39855202,  0.24409046,  0.19342717,  0.27264259,  0.20104734,
        0.30119473,  0.09788953, -0.0202663 ,  0.98707436,  0.21924541,
        0.65873092,  0.26881233,  0.66554257,  0.27701295,  0.74414735,
        1.04019834,  0.27303266,  0.30155479,  0.20724727,  0.75527573,
        0.31774607,  0.72890357,  0.10528913,  0.15346829,  0.60615713,
       -0.1274172 ,  0.98364419,  0.74453742,  0.11890117,  1.01565889,
        0.47602034,  0.20584787,  0.63496922,  1.04073843,  0.35358985,
        0.29387436,  0.98745673,  0.32232646,  0.19635702,  0.91197782,
        0.93059251,  0.58740297,  0.29009401,  0.29808467,  0.07960234,
        0.15412841,  0.17166072,  0.60163578,  0.6516506 ,  0.25245023,
        0.80556153,  0.1318022 ,  0.14386316,  0.19222227,  0.00529439,
        0.42869443,  0.92070844,  0.20460704,  0.18474622, -0.08817255,
        0.94878288,  0.1802514 ,  1.03338806,  0.14030287,  0.1518493 ,
        0.89609888,  0.22560938,  1.13537559,  0.45350632,  0.44799714,
        0.39130277,  0.28681395,  0.529951  ,  0.65056508,  0.82791155,
        0.65062509,  0.92007636,  0.61189764,  0.10696943,  0.95618454,
        0.07365296,  0.10705945,  0.31773411])

In [34]:
predictions = pd.DataFrame({'PassengerId':test_2['PassengerId'],
                            'Survived':y_Survived_preds}, columns=['PassengerId','Survived'])
predictions['Survived'] = predictions['Survived'].round(0).astype(int)

In [35]:
predictions

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [36]:
#Exporting prediction file
predictions.to_csv("predictions.csv", index=False)